@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    color: white;
    text-align: center;
    margin: 0px;
    height: 100vh;
}

html {
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24));
}

h1 {
    animation-name: fadeIn; 
    animation-duration: 1.5s;
    font-family: "cot";
}

p {
    animation-name: fadeIn; 
    animation-duration: 1.5s;
    font-family: "ame";
}

a {
    animation-name: fadeIn; 
    animation-duration: 1.5s;
    font-family: "ame";
}

li {
    font-family: "ame";
    text-align: center;
    list-style-position: inside;
    animation-duration: 1.5s;
    animation-name: fadeIn;
    width: 400px;
    margin: auto;
}


@font-face {
    font-family: "cot";
    src: url(./comfortaa.ttf);
}

@font-face {
    font-family: "ame";
    src: url(./amethysta.ttf);
}